<h1>Registration for Hackathon</h1>

<%= form_with(model: [@event, @registration], local: true) do |f| %>
  <%= render "shared/errors", object: @registration %>
  
  <%= f.label :how_heard %><br/>
  <%= f.select :how_heard, Registration::HOW_HEARD_OPTIONS, prompt: "Pick One" %>
  <br/><br/>

  <%= f.submit %>
<% end %>