<!DOCTYPE html>
<html>
  <head>
    <title>Eventz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><%= link_to("All Events", events_path) %></li>
          <li><%= link_to("Sign Up", signup_path) %></li>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
